<h1>New Comments</h1>

<% if logged_in? %>
<h2>You are logged in as <%= @user.username %><br></h2>
<%else%>
<h2>You are currently not logged in</h2><br>
<%end%>

<%=@warning if @warning%>

<form action="/posts/<%=@post.id %>/comments" method="POST">
	<label>Comment: </label>
	<input type="text" name="body"><br>
	<input type="submit" value="Comment">
</form>

<a href="/"><button>See all posts</button></a>