<form method="post" action="/users/signup">
	<input type="text" placeholder="Username" name="user[username]"><br/>
	<input type="email" placeholder="Email" name="user[email]"><br/>
	<input type="password" placeholder="Password" name="user[password]"><br/>
	<input type="submit" value="Sign Up">
</form>