<h1>FakeFacebook</h1>
<br/><%= "__________________________________" %>

<br/><br/>
<form method="post" action="/users/create">
	<input type="text" placeholder="Username" name="user[username]"><br/>
	<input type="email" placeholder="Email" name="user[email]"><br/>
	<input type="password" placeholder="Password" name="user[password]"><br/>
	<input type="submit" value="Sign Up">
</form>
<br/><%= "-----------------------------------" %>
<br/><br/>
<form method="post" action="/users/login">
	<input type="email" placeholder="Email" name="user[email]"><br/>
	<input type="password" placeholder="Password" name="user[password]"><br/>
	<input type="submit" value="Log in">
</form>